<section class="multiply bg-gray w-100 pv6">
  <div class="container grid columns-9 ga4 items-center mw8-ns">

    <!-- brewage -->
    <div class="h5 w5 bg-black column-start-1 column-end-3 tc place-self-end ">
    	<img class="pa4 center" src="{{ section.image_1 | relative_url }}" alt="{{ section.image_1.caption }}"> 
    </div>

    <!-- 77 -->
    <div class="h5 w5 bg-white column-start-3 column-end-6 tcplace-self-end">
    	<img class="pa4 center" src="{{ section.image_2 | relative_url }}" alt="{{ section.image_2.caption }}"> 
    </div>

    <!-- ampthill -->
    <div class="h5 w5 bg-black column-start-6 column-end-8 tc place-self-end">
    	<img class="pa4 center" src="{{ section.image_3 | relative_url }}" alt="{{ section.image_3.caption }}"> 
	</div>

    <!-- sean -->
    <div class="h5 w5 bg-white column-start-8 column-end-10 tc place-self-end ">
    	<img class="pa4 center" src="{{ section.image_4 | relative_url }}" alt="{{ section.image_4.caption }}"> 
	</div>
    
    <!-- fand -->
    <div class="h5 w5 bg-black column-start-2 column-end-4 tc pv3 place-self-start">
    	<img class="pa4 center" src="{{ section.image_5 | relative_url }}" alt="{{ section.image_5.caption }}"> 
	</div>
    
    <!-- livitay -->
    <div class="h5 w5 bg-white column-start-4 column-end-7 tc place-self-start">
    	<img class="pa4 center" src="{{ section.image_6 | relative_url }}" alt="{{ section.image_6.caption }}"> 
	</div>
    
    <!-- bifolds -->
    <div class="h5 w5 bg-black column-start-7 column-end-10 tc  place-self-start">
    	<img class="pa4 center" src="{{ section.image_7 | relative_url }}" alt="{{ section.image_7.caption }}"> 
	</div>

  </div>
</section>