<section class="multiply bg-gray w-100 pv6">
  <div class="container grid ga4 columns-9 items-center mw8-ns">

    <!-- brewage -->
    <div class="grid items-center bg-black column-start-1 column-end-3 tc place-self-start ">
    	<img class="pa4 center" src="{{ section.image_1 | relative_url }}" alt="{{ section.image_1.caption }}"> 
    </div>

    <!-- 77 -->
    <div class="grid items-center bg-white column-start-3 column-end-6 tc pv6">
    	<img class="center w4" src="{{ section.image_2 | relative_url }}" alt="{{ section.image_2.caption }}"> 
    </div>

    <!-- ampthill -->
    <div class="grid items-center bg-black column-start-6 column-end-8 tc place-self-end pa5">
    	<img class="w5 center" src="{{ section.image_3 | relative_url }}" alt="{{ section.image_3.caption }}"> 
	</div>

    <!-- sean -->
    <div class="grid items-center bg-white column-start-8 column-end-10 tc place-self-end ">
    	<img class="pa4 center" src="{{ section.image_4 | relative_url }}" alt="{{ section.image_4.caption }}"> 
	</div>
    
    <!-- fand -->
    <div class="grid items-center bg-black column-start-2 column-end-4 tc pa3 place-self-start">
    	<img class="pa4 center" src="{{ section.image_5 | relative_url }}" alt="{{ section.image_5.caption }}"> 
	</div>
    
    <!-- livitay -->
    <div class="grid items-center bg-white column-start-4 column-end-8 tc place-self-start pa6">
    	<img class="center w4" src="{{ section.image_6 | relative_url }}" alt="{{ section.image_6.caption }}"> 
	</div>
    
    <!-- bifolds -->
    <div class="grid items-center bg-black column-start-8 column-end-10 tc  place-self-end">
    	<img class="pa4 center" src="{{ section.image_7 | relative_url }}" alt="{{ section.image_7.caption }}"> 
	</div>

  </div>
</section>

