/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

@font-face {
  font-family: 'Larsseit-Light';
  src: url('../assets/fonts/Larsseit-Light.eot');
  src: url('../assets/fonts/Larsseit-Light.woff2') format('woff2'),
       url('../assets/fonts/Larsseit-Light.woff') format('woff'),
       url('../assets/fonts/Larsseit-Light.ttf') format('truetype'),
       url('../assets/fonts/Larsseit-Light.svg#Larsseit-Light') format('svg'),
       url('../assets/fonts/Larsseit-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit-Medium';
  src: url('../assets/fonts/Larsseit-Medium.eot');
  src: url('../assets/fonts/Larsseit-Medium.woff2') format('woff2'),
       url('../assets/fonts/Larsseit-Medium.woff') format('woff'),
       url('../assets/fonts/Larsseit-Medium.ttf') format('truetype'),
       url('../assets/fonts/Larsseit-Medium.svg#Larsseit-Medium') format('svg'),
       url('../assets/fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('../assets/fonts/Larsseit-Bold.eot');
  src: url('../assets/fonts/Larsseit-Bold.woff2') format('woff2'),
       url('../assets/fonts/Larsseit-Bold.woff') format('woff'),
       url('../assets/fonts/Larsseit-Bold.ttf') format('truetype'),
       url('../assets/fonts/Larsseit-Bold.svg#Larsseit-Bold') format('svg'),
       url('../assets/fonts/Larsseit-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: Aperçu-regular;
    src: url("../assets/fonts/apercu_regular_pro.otf") format("opentype");
}

@font-face {
    font-family: Aperçu-mono;
    src: url("../assets/fonts/apercu_mono_pro.otf") format("opentype");
}



.sans-serif {
  font-family: 'Larsseit-Bold', -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.serif {
  font-family: georgia,
               times,
               serif;
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}


/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
code, .code {
  font-family: Consolas,
               monaco,
               monospace;
}

.courier {
  font-family: 'Courier Next',
               courier,
               monospace;
}


/* Sans-Serif Typefaces */

.helvetica {
  font-family: 'helvetica neue', helvetica,
               sans-serif;
}

.avenir {
  font-family: 'avenir next', avenir,
               sans-serif;
}


/* Serif Typefaces */

.athelas {
  font-family: athelas,
               georgia,
               serif;
}

.georgia {
  font-family: georgia,
               serif;
}

.times {
  font-family: times,
               serif;
}

.bodoni {
  font-family: "Bodoni MT",
                serif;
}

.calisto {
  font-family: "Calisto MT",
                serif;
}

.garamond {
  font-family: garamond,
               serif;
}

.baskerville {
  font-family: baskerville,
               serif;
}

